{% load static %}

<aside class="right-article">
    <div class="aside-title">
            <h3>실시간 인기 글</h3>

        <div class="popular-post">
            <div class="popular-title">♡♡덕새 인생네컷 건의드려요♡♡</div>
            <div class="popular-text">학교 관계자분들, 학생회 분들! 보고 계신다면!!<br>Please~ please~ please~</div>
            <div class="aside-meta">
            <div class="post-meta">비밀게시판</div>
            <img class="likes" src="{% static 'img/container_articles_vote.png' %}" alt="좋아요"> <a class="likes-detail">76</a>
            <img class="comments" src="{% static 'img/container_articles_comment.png' %}" alt="댓글"> <a class="comments-detail">9</a>
            </div>
        </div>

        <div class="popular-post">
            <div class="popular-title">✔️학교 굿즈 제작 관련 대외홍보처와의 통화✔️</div>
            <div class="popular-text">디자인을 공부했던 만큼, 우리 학교 관련 굿즈를 개인적으로 제작해서 "판매"하고 싶었습니다.</div>
            <div class="aside-meta">
            <div class="post-meta">비밀게시판</div>
            <img class="likes" src="{% static 'img/container_articles_vote.png' %}" alt="좋아요"> <a class="likes-detail">44</a>
            <img class="comments" src="{% static 'img/container_articles_comment.png' %}" alt="댓글"> <a class="comments-detail">1</a>
            </div>
        </div>
        </div>

        <div class="aside-title">
            <h3>HOT 게시물
                <a href="" class="more">더보기</a>
            </h3>

            <div class="aside-hot-text">
              <ul class="hot-list">
                <li class="small-hot-list">갑자기 용돈플 뭐여 <span class="date">03/28 23:39</span></li>
                <li class="small-hot-list">🕊️<span class="date">03/28 17:23</span></li>
                <li class="small-hot-list">개총,교류회 후기 <span class="date">03/26 23:32</span></li>
                <li class="small-hot-list">[교양으로 등록금 뽕 뽑기 6화: 교양...<span class="date">03/28 11:17</span></li>
              </ul>
            </div>
        </div>

        <div class="aside-title">
            <h3>Best 게시판
                <a href="" class="more">더보기</a>
            </h3>
        </div>

        <div class="aside-title">
            <h3>학교 소식</h3>

            <div class="popular-post">
                <div class="popular-title">🪻덕성여대 제41대 총학생회 운율🪻</div>
                <div class="popular-text">안녕하세요, 덕성여자대학교 제41대 총학생회 운율입니다.<br>🪻우리의 목소리를 모아, 단절 없는 흐름을 그리다🪻</div>
                <div class="aside-meta">
                <div class="post-meta">총학생회</div>
                <img class="likes" src="{% static 'img/container_articles_vote.png' %}" alt="좋아요"> <a class="likes-detail">8</a>
                <img class="comments" src="{% static 'img/container_articles_comment.png' %}" alt="댓글"> <a class="comments-detail">0</a>
                </div>
            </div>

            <div class="popular-post">
                <div class="popular-title">📢[과기대] 과학기술대학 1학년 사물함 신청📢</div>
                <div class="popular-text">안녕하세요. 제 5대 과학기술대학 학생회 <Delta>입니다.<br>2025학년도 과학기술대학 1학년 학우분들을 대상으로 사물</div>
                <div class="aside-meta">
                <div class="post-meta">과학기술대학 학생회</div>
                <img class="likes" src="{% static 'img/container_articles_vote.png' %}" alt="좋아요"> <a class="likes-detail">22</a>
                <img class="comments" src="{% static 'img/container_articles_comment.png' %}" alt="댓글"> <a class="comments-detail">0</a>
                </div>
            </div>
        </div>

        <div class="aside-title">
            <h3>최근 강의평<a href="" class="more">더보기</a></h3>

            <div class="popular-post">
                <div class="popular-title">경제원론1 : 백철우</div>
                <div class="popular-text">교수님 강의력은 좋으시나 방대한 수업자료와 좋은 강의력<br>에 더해진 엄청난 스피드.. 공부 열심히 하셔야 해요</div>
            </div>

            <div class="popular-post">
                <div class="popular-title">창업현장실습1(경영) : 하상현</div>
                <div class="popular-text">패논패라 그런지 수업 때 다른 학우분들 모두 딴짓하시긴<br>해요. 팀플만 잘 따라가면 큰 문제 없어요</div>
            </div>

            <div class="popular-post">
                <div class="popular-title">소비자 행동론 : 유병희</div>
                <div class="popular-text">유병희 교수님은 정말 천사이십니다.. 수업 들으면서 흐뭇한<br>미소가 저절로 지어지네요. 강의력도 좋으시고 내용도 크게</div>
            </div>
        </div>

    </div>    
</aside>