{% load static %}

<div class="full-main">
  <div class="main-contents">
    <div class="secret-board">
      <h1 class="main-title">비밀게시판</h1>
    </div>

    <div class="full-contents" style="position: relative">
      <div class="writer">
        <img src="https://cf-fpi.everytime.kr/0.png" alt="작성자" />
        <div class="writer-info">
          <span class="writer-name">익명</span>
          <span class="writer-date">02/20 12:20</span>
        </div>
        <div class="post-action">
          <span>쪽지</span>
          <span>신고</span>
        </div>
      </div>

      <div class="contents-title">
        <p>🔥D-DAY🔥 🦁 멋쟁이사자처럼 13기 아기사자 모집 안내 🦁</p>
      </div>

      <div class="contents-text">
        <p>안녕하세요, 덕성여자대학교 멋쟁이사자처럼입니다.</p>
        <p>
          ❗서류 지원 마감은 오늘 ❤🔥오후 6시❤🔥입니다. 시간을 꼭 확인하고
          지원해 주세요!
        </p>
        <p>
          🎉 덕성여자대학교 멋쟁이사자처럼 13기를 함께 할 아기사자를 모집합니다.
        </p>
        <p>
          📌 멋쟁이사자처럼이란? <br />
          멋쟁이사자처럼 대학은 국내외 121개 대학, 4천여 명이 활동하는 국내 최대
          규모의 IT 창업 연합 동아리입니다. "내 아이디어 <br />
          를 내 손으로 실현한다"는 모토로, 누구든지 자신이 원하는 IT 서비스를
          구현할 수 있도록 각종 스터디와 네트워킹, 행사를 지 <br />
          원합니다.
        </p>
        <p>
          📌 모집 대상 <br />
          - 25학년도 기준 덕성여자대학교 재학생 및 휴학생, 자대 편입생,
          졸업유예자(졸업자, 타대생 참여 불가) <br />
          - 주 2회의 오프라인 세션 및 스터디 참여가 가능한 분 <br />
          - 온라인 환경이 원활한 분(노트북 소지자) <br />
          - 동아리 회비 납부에 부담이 없으신 분(1년 기준 50,000원) <br />
          - 주 20시간 이상의 시간적 여유가 있으신 분
        </p>
        <p>
          📌 모집 일정 <br />
          - 서류 모집 : 2월 6일(목) ~ 2월 20일(목) 18:00 <br />
          - 서류 발표 : 2월 26일(수) <br />
          - 면접 기간 : 3월 4일(화) ~ 3월 6일(목) <br />
          - 면접은 대면으로 진행됩니다. <br />
          - 최종 발표 : 3월 8일(일)
        </p>
        <p>
          📌 모집 파트 <br />
          - 기획/디자인 <br />
          - 프론트엔드 <br />
          - 백엔드
        </p>
        <p>
          📌 지원 방법 덕성여자대학교 멋쟁이사자처럼 웹페이지 메인 하단 또는
          사이드 메뉴 내 '지원하러가기' 클릭 후, 지원서 작성 <br />
          하여 제출 <br />
          🔗 https://ds-likelion.site
        </p>
        <p>
          자세한 모집 및 일정 관련 내용은 덕성여자대학교 멋쟁이사자처럼 웹사이트
          내 공지사항에 안내 되어있으니 반드시 확인 바<br />
          랍니다.
        </p>
        <p>
          2025년 덕성여자대학교 멋쟁이사자처럼 13기 아기사자 모집에 많은 관심
          부탁드립니다! 감사합니다.
        </p>
        <p>
          ※ 문의 <br />
          덕성여자대학교 멋쟁이사자처럼 웹사이트 내 Q&A 페이지 또는 카카오톡
          오픈 채팅 <br />
          https://open.kakao.com/me/LikelionDS
        </p>
      </div>

      <div class="contents-image">
        <div class="first-line">
          <img src="{% static 'img/detail_pic1.png' %}" alt="게시물사진1" />
          <img src="{% static 'img/detail_pic2.png' %}" alt="게시물사진2" />
          <img src="{% static 'img/detail_pic3.png' %}" alt="게시물사진3" />
          <img src="{% static 'img/detail_pic4.png' %}" alt="게시물사진4" />
        </div>
        <div class="next-line">
          <img src="{% static 'img/detail_pic5.png' %}" alt="게시물사진5" />
          <img src="{% static 'img/detail_pic6.png' %}" alt="게시물사진6" />
        </div>
      </div>

      <div class="contents-detail">
        <img
          src="{% static 'img/container_articles_vote.png' %}"
          alt="좋아요"
        />
        <a class="likes">0</a>
        <img
          src="{% static 'img/container_articles_comment.png' %}"
          alt="댓글"
        />
        <a class="comments">0</a>
        <img
          src="{% static 'img/container_articles_scrap.png' %}"
          alt="스크랩"
        />
        <a class="scrap">1</a>
      </div>
      <div class="Btnset">
        <div class="agreeBtn">
          <img
            class="agree-img"
            src="{% static 'img/container_articles_buttons_posvote.png' %}"
            alt="공감"
          />
          <div class="agree">공감</div>
        </div>

        <div class="scrapBtn">
          <img
            class="scrap-img"
            src="{% static 'img/container_articles_buttons_scrap.png' %}"
            alt="스크랩"
          />
          <div class="scrap-box">스크랩</div>
        </div>
      </div>
    </div>

    <div class="user-comments">
      <p>멋사 과제 어렵다...쩝...</p>
      <div class="user-comments-detail">
        <a>대댓글</a>
        <a>공감</a>
        <a>쪽지</a>
        <a>신고</a>
      </div>

      <div class="tail-comments" style="display: none">
        <input
          type="text"
          class="textwriter"
          placeholder="대댓글을 입력하세요."
        />
        <div>
          <img
            class="complete-write"
            src="{% static 'img/container_write_white.png' %}"
            alt="작성 완료"
          />
        </div>
      </div>
    </div>

    <div class="any-comment">
      <input type="text" class="textwriter" placeholder="댓글을 입력하세요." />
      <div>
        <img
          class="complete-write"
          src="{% static 'img/container_write_white.png' %}"
          alt="작성 완료"
        />
      </div>
    </div>
  </div>
</div>
