{% comment %} {% load static %}

<div class="everytime-text">
  <div class="secret-board">
    <h1 class="secret-title">비밀게시판</h1>

    <div class="doublesecret-box">
      <div class="secret-box">
        <img
          class="secret-icon"
          src="{% static 'img/icn_mcr_board_question_light.png' %}"
          alt="질문태그"
        />
        <div class="secret-box green">
          혹시 차미리사관이나 도서관에서 애플...
        </div>
      </div>

      <div class="secret-box">
        <img
          class="secret-icon"
          src="{% static 'img/icn_mcr_board_hotarticle_light.png' %}"
          alt="핫게시판"
        />
        <div class="secret-box pink">♡♡덕새 인생네컷 건의드려요♡♡</div>
      </div>
    </div>

    <div class="newwrite-box" style="position: relative">
      <span class="placeholder">새 글을 작성해주세요!</span>
      <img
        class="pencil-icon"
        src="{% static 'img/container_write_background.png' %}"
        alt="작성"
      />
    </div>

    <div class="write-box" style="display: none">
      <div class="title-box">
        <input type="text" class="titlewriter" placeholder="글 제목" />
      </div>

      <div>
        <textarea
          class="contentswriter"
          placeholder="에브리타임은 누구나 기분 좋게 참여할 수 있는 커뮤니티를 만들기 위해 커뮤니티 이용규칙을 제정하여 운영하고 있습니다. 위반 시 게시물이 삭제되고 서비스 이용이 일정 기간 제한될 수 있습니다.

아래는 이 게시판에 해당하는 핵심 내용에 대한 요약 사항이며, 게시물 작성 전 커뮤니티 이용규칙 전문을 반드시 확인하시기 바랍니다.

※ 정치·사회 관련 행위 금지
- 국가기관, 정치 관련 단체, 언론, 시민단체에 대한 언급 혹은 이와 관련한 행위
- 정책, 외교 또는 정치·정책에 대한 의견, 주장 및 이념, 가치관을 드러내는 행위
- 성별, 종교, 인종, 출신, 지역, 직업, 이념 등 사회적 이슈에 대한 언급 혹은 이와 관련한 행위
- 위와 같은 내용으로 유추될 수 있는 비유, 은어 사용 행위
* 해당 게시물은 시사·이슈 게시판에만 작성 가능합니다.

※ 홍보 및 판매 관련 행위 금지
- 영리 여부와 관계 없이 사업체·기관·단체·개인에게 직간접적으로 영향을 줄 수 있는 게시물 작성 행위
- 위와 관련된 것으로 의심되거나 예상될 수 있는 바이럴 홍보 및 명칭·단어 언급 행위
* 해당 게시물은 홍보게시판에만 작성 가능합니다.

※ 불법촬영물 유통 금지
불법촬영물 등을 게재할 경우 전기통신사업법에 따라 삭제 조치 및 서비스 이용이 영구적으로 제한될 수 있으며 관련 법률에 따라 처벌받을 수 있습니다.

※ 그 밖의 규칙 위반
- 타인의 권리를 침해하거나 불쾌감을 주는 행위
- 범죄, 불법 행위 등 법령을 위반하는 행위
- 욕설, 비하, 차별, 혐오, 자살 , 폭력 관련 내용을 포함한 게시물 작성 행위
- 음란물, 성적 수치심을 유발하는 행위
- 스포일러, 공포, 속임, 놀라게 하는 행위"
        ></textarea>

        <div class="checkbox-section" style="display: none">
          <div class="checkbox-guide">
            질문 글을 작성하면 게시판 상단에 일정 기간 동안 노출되어, 더욱
            빠르게 답변을 얻을 수 있게 됩니다.<br />또한, 다른 학우들이 정성껏
            작성한 답변을 유지하기 위해, 댓글이 달린 이후에는 글을 수정 및
            삭제할 수 없습니다.
          </div>
        </div>
      </div>

      <div class="footer-flex">
        <div class="plus-info">
          <a href="">
            <img
              src="{% static 'img/container_articles_write_hashtag.png' %}"
              alt="해시태그"
          /></a>
          <a href="">
            <img
              src="{% static 'img/container_articles_write_attach.png' %}"
              alt="파일 첨부"
          /></a>
        </div>

        <div class="plus-info-personal">
          <label class="checkbox-personal"
            ><input type="checkbox" /> 질문</label
          >
          <label class="checkbox-personal"
            ><input type="checkbox" /> 익명</label
          >
          <button class="complete-write">
            <img
              src="{% static 'img/container_write_white.png' %}"
              alt="작성 완료"
            />
          </button>
        </div>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">양치 3분 세수 3분 인데</div>
      <div class="post-text">2시간째 미루는 나</div>
      <div class="secret-meta">
        <span class="meta">방금</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">자야하는데</div>
      <div class="post-text">잠이 안와</div>
      <div class="secret-meta">
        <span class="meta">38분 전</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">종강하자</div>
      <div class="post-text">종강하자</div>
      <div class="secret-meta">
        <span class="meta">21:30</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">학교그만다니고싶음</div>
      <div class="post-text">진짜로</div>
      <div class="post-text">힘들다</div>
      <div class="secret-meta">
        <span class="meta">21:27</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">혜화에서</div>
      <div class="post-text">버스킹구경하다 집가는 길인데</div>
      <div class="post-text">얼은 손 녹으니까 디지게 따끔거린다진쯔....</div>
      <div class="secret-meta">
        <span class="meta">21:23</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">키오스크</div>
      <div class="post-text">카드두고가는사람 왜케많음?(나포함)</div>
      <div class="secret-meta">
        <span class="meta">20:48</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">학교그만다니고싶음</div>
      <div class="post-text">진짜로</div>
      <div class="post-text">힘들다</div>
      <div class="secret-meta">
        <span class="meta">21:27</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">토익 고민이야..</div>
      <div class="post-text">
        토익 시험 한 번도 본 적 없고 공부 자체가 완전 처음인 상황이야! 3월
        초부터 인강 ㅁ끊고 공부 시작했는데 4월중순에 볼지
      </div>
      <div class="post-text">
        아니면 4월 말에 볼지 고민 중이야 덕우들이라면 언제 볼 것 같아...?
        산타토익으로 모의 테스트였나 해봤을 때 750 나왔...
      </div>
      <div class="secret-meta">
        <span class="meta">21:17</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">토익 파트5 개많이 틀리는데</div>
      <div class="post-text">
        다시 풀면 다 맞음.. 심지어 내가 왜 저딴 답을 골랐는지도 모르겠어
      </div>
      <div class="post-text">
        LC 풀면서 다 풀어야한다는 압박감 때문에 그런 거 같은데 LC 다 풀고 RC
        시작하는 덕우 있어? 모릐고사에선 파트5 많이...
      </div>
      <div class="secret-meta">
        <span class="meta">21:11</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">멘트</div>
      <div class="post-text">
        봉투 필요하세요? 포인트 있으신가요? 영수증 드릴까요?
      </div>
      <div class="post-text">
        계산할때 하는 질문인데 어케하면 더 간단하게 말항수잇을까 세번이나
        질문해야돼서 손님도나도 귀찮고.....
      </div>
      <div class="secret-meta">
        <span class="meta">21:09</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">트위터 오류 질문</div>
      <div class="post-text">
        비밀계정인데 어제 저녁무터 자꾸 팔로잉 수를 초과했다고 뜨고 트윗도 안
        써지거든?? 근데 난 당일에 다른 거 팔로잉 한
      </div>
      <div class="post-text">
        적도 없는데 ;;; 왜이러는지 모르겠고 아까는 또 되다가 갑자기 지금 또
        이러네 이유 아는 덕우 있어?
      </div>
      <div class="secret-meta">
        <span class="meta">21:05</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">딜라이트 점수 추후 전공선택</div>
      <div class="post-text">
        공홈 아이캔가이드북이랑 딜라이트페이지 공지사항 진짜 꼼꼼히 읽었는데
        전공선택에 무리없으려면 마일리지를 몇점을
      </div>
      <div class="post-text">만들어야하는지 모르겠어요......</div>
      <div class="secret-meta">
        <span class="meta">21:02</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">생리 밀리는 사람들</div>
      <div class="post-text">얼마나 밀렸었어..?</div>
      <div class="post-text">처음 밀려봐서 언제쯤 터질까 스트레스네네</div>
      <div class="secret-meta">
        <span class="meta">20:53</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">트친 관련 고민?</div>
      <div class="post-text">
        덕우들은 이런 상황에 어떻게 생각할지 궁금해서 올려봐
      </div>
      <div class="post-text">....</div>
      <div class="secret-meta">
        <span class="meta">20:52</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">혹시 붕괴스타레일 좋아하는 덕우 있나</div>
      <div class="post-text">5월에 하는 CGV 상영회 같이 가자</div>
      <div class="secret-meta">
        <span class="meta">20:50</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">덕우들 집</div>
      <div class="post-text">책상 서랍도 쓰레기 더미야?</div>
      <div class="post-text">
        내 방에서 잠만 자고 책꽂이 한 칸 말고는 사용을 안 해서 몰랐는데,...
      </div>
      <div class="secret-meta">
        <span class="meta">20:48</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">혼자</div>
      <div class="post-text">
        일하는 덕우들 사장/점장님한테 연락 자주하는 편이야?
      </div>
      <div class="post-text">모르는거나 문제생긴거 등으로</div>
      <div class="secret-meta">
        <span class="meta">20:47</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">ㅁㅊ 개무서워...</div>
      <div class="post-text">
        생각도 못했는데 이게 사실이면 이번 여름 큰일이다..
      </div>
      <div class="secret-meta">
        <span class="meta">20:45</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">학교 주변에 우리은행 atm 있나요?</div>
      <div class="post-text">학교 주변에 우리은행 atm 있나요?</div>
      <div class="secret-meta">
        <span class="meta">20:38</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>

    <div class="secret-text">
      <div class="post-title">덕우들아 지금 에타에 한남있어</div>
      <div class="post-text">
        밑에 레디어스 홍보글에 나가서 성신여대랑 싸워도 되냐고 댓글달고
        삭제하고튐
      </div>
      <div class="secret-meta">
        <span class="meta">20:38</span>
        <span class="dash-between">|</span>
        <span class="meta">익명</span>
      </div>
    </div>
  </div>
</div>
{% endcomment %} {% load static %} {% load humanize %}

<div class="everytime-text">
  <div class="secret-board">
    <h1 class="secret-title">비밀게시판</h1>

    {% for post in posts %}
    <a href="{% url 'posts:detail' post.id %}" class="secret-text-link">
      <div class="secret-text">
        <div class="post-title">{{ post.title }}</div>
        <div class="post-text">{{ post.content|truncatechars:140 }}</div>
        <div class="secret-meta">
          <span class="meta">{{ post.created_at|naturaltime }}</span>
          <span class="dash-between">|</span>
          <span class="meta">
            {% if post.anonymity %} 익명 {% else %} {{ post.author.username }}
            {%endif %}
          </span>
        </div>
      </div>
    </a>
    {% empty %}
    <div class="secret-text">
      <div class="post-title">게시글이 없습니다.</div>
    </div>
    {% endfor %}
  </div>
</div>
