{% load static %}
            <article>
                <div class="cateBox">
                    <div class="cateTitle">실시간 인기 글</div>
                    <div class="catePost">
                        <div class="catePost-title">
                            네가 깃아 미안해 했잖아?
                        </div>
                        <div class="catePost-content">
                            그럼 깃 충돌 이딴거 안생겼어
                        </div>
                        <div class="catePost-detail">
                            <div>비밀게시판</div>
                            <img class="catePost-like" src="{% static 'img/like.png' %}" />
                            <div id="like-count">10</div>
                            <img class="catePost-reply" src="{% static 'img/reply.png' %}" />
                            <div id="reply-count">17</div>
                        </div>
                    </div>
                    <div class="catePost">
                        <div class="catePost-title">
                            네가 깃아 미안해 했잖아?
                        </div>
                        <div class="catePost-content">
                            그럼 깃 충돌 이딴거 안생겼어
                        </div>
                        <div class="catePost-detail">
                            <div>비밀게시판</div>
                            <img class="catePost-like" src="{% static 'img/like.png' %}" />
                            <div id="like-count">10</div>
                            <img class="catePost-reply" src="{% static 'img/reply.png' %}" />
                            <div id="reply-count">17</div>
                        </div>
                    </div>
                </div>
                <div class="cateBox">
                    <div class="cateTitle">HOT 게시물</div>
                    <div class="catePost">
                        <div class="catePost-title">
                            네가 깃아 미안해 했잖아?
                        </div>
                        <div class="catePost-content">
                            그럼 깃 충돌 이딴거 안생겼어
                        </div>
                        <div class="catePost-detail">
                            <div>비밀게시판</div>
                            <img class="catePost-like" src="{% static 'img/like.png' %}" />
                            <div id="like-count">10</div>
                            <img class="catePost-reply" src="{% static 'img/reply.png' %}" />
                            <div id="reply-count">17</div>
                        </div>
                    </div>
                    <div class="catePost">
                        <div class="catePost-title">
                            네가 깃아 미안해 했잖아?
                        </div>
                        <div class="catePost-content">
                            그럼 깃 충돌 이딴거 안생겼어
                        </div>
                        <div class="catePost-detail">
                            <div>비밀게시판</div>
                            <img class="catePost-like" src="{% static 'img/like.png' %}" />
                            <div id="like-count">10</div>
                            <img class="catePost-reply" src="{% static 'img/reply.png' %}" />
                            <div id="reply-count">17</div>
                        </div>
                    </div>
                </div>
            </article>