{% load static %}
<aside>
        <div id="live-pop">
          <b style="font-size: 15px; margin-left: 10px; color: rgb(37, 83, 162)"
            >실시간 인기 글</b
          >
        </div>
        <div class="pop">
          <div class="pop-class">
            <b style="font-size: 14px">??:퍽-</b>
            <p style="font-size: 13px; margin: 10px 0px">아이고- 종강이야</p>
            <div class="pop-last">
              <b style="font-size: 12px">비밀게시판</b>
              <img
                src="{% static 'img/container.articles.vote.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: red">150</p>
              <img
                src="{% static 'img/container.articles.comment.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: rgb(0, 189, 189)">
                15
              </p>
            </div>
          </div>
        </div>
        <div class="pop">
          <div class="pop-class">
            <b style="font-size: 14px">벚꽃 명소 추천해줌</b>
            <p style="font-size: 13px; margin: 10px 0px">
              우이천 따라 내려가면 벚꽃 거리 나옴
            </p>
            <div class="pop-last">
              <b style="font-size: 12px">비밀게시판</b>
              <img
                src="{% static 'img/container.articles.vote.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: red">122</p>
              <img
                src="{% static 'img/container.articles.comment.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: rgb(0, 189, 189)">
                13
              </p>
            </div>
          </div>
        </div>
        <div id="hot">
          <b style="font-size: 15px; margin-left: 10px; color: rgb(37, 83, 162)"
            >HOT 게시물</b
          >
          <p style="color: lightgrey; font-size: 14px; margin-left: 170px">
            더보기
          </p>
        </div>
        <div class="hot-write">
          <p style="font-size: 15px; margin: 0; margin-left: 10px">
            멋사 진짜 좋지않냐
          </p>
        </div>
        <div class="hot-write">
          <p style="font-size: 15px; margin: 0; margin-left: 10px">
            히히 너무 재밌다
          </p>
        </div>
        <div class="hot-write">
          <p style="font-size: 15px; margin: 0; margin-left: 10px">
            고앵아 돌아와
          </p>
        </div>
        <div class="hot-write">
          <p style="font-size: 15px; margin: 0; margin-left: 10px">
            학교에 빨리 꽃 폈으면 좋겠어
          </p>
        </div>
        <div id="best">
          <b style="font-size: 15px; margin-left: 10px; color: rgb(37, 83, 162)"
            >BEST 게시판</b
          >
          <p style="color: lightgrey; font-size: 14px; margin-left: 170px">
            더보기
          </p>
        </div>
        <div id="school-news">
          <b style="font-size: 15px; margin-left: 10px; color: rgb(37, 83, 162)"
            >학교 소식</b
          >
        </div>
        <div class="school-news">
          <div class="school-class">
            <b style="font-size: 14px">🥽드디어 우리도 생긴다🥽</b>
            <p style="font-size: 13px; margin: 10px 0px; color: lightgray">
              과 학생회 많은 지원바랍니다.
            </p>
            <div class="school-last">
              <b style="font-size: 12px; color: lightgray"
                >가상현실융합학과 학생회 EXVERSE
              </b>
              <img
                src="{% static 'img/container.articles.vote.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: red">45</p>
              <img
                src="{% static 'img/container.articles.comment.png' %}"
                width="12px"
                height="12px"
              />
              <p style="font-size: 12px; margin: 0; color: rgb(0, 189, 189)">
                5
              </p>
            </div>
          </div>
        </div>
        <div id="review-title">
          <b style="font-size: 15px; margin-left: 10px; color: rgb(37, 83, 162)"
            >최근 강의평</b
          >
          <p style="color: lightgrey; font-size: 14px; margin-left: 170px">
            더보기
          </p>
        </div>
        <div class="review">
          <img
            src="{% static 'img/app.subject.rating.details.star.off.png' %}"
            width="25%"
            style="margin: 8px 0px 0px 8px"
          />
          <div class="review-class">
            <b style="font-size: 14px">AR개발1</b>
            <p style="font-size: 13px; margin: 10px 0px">교수님 최고임</p>
          </div>
        </div>
        <div class="review">
          <img
            src="{% static 'img/app.subject.rating.details.star.off.png' %}"
            width="25%"
            style="margin: 8px 0px 0px 8px"
          />
          <div class="review-class">
            <b style="font-size: 14px">가상현실 UI/UX 1</b>
            <p style="font-size: 13px; margin: 10px 0px">유익해요</p>
          </div>
        </div>
        <div class="review">
          <img
            src="{% static 'img/app.subject.rating.details.star.off.png' %}"
            width="25%"
            style="margin: 8px 0px 0px 8px"
          />
          <div class="review-class">
            <b style="font-size: 14px">가상 콘텐츠 사운드 제작</b>
            <p style="font-size: 13px; margin: 10px 0px">재밌어요</p>
          </div>
        </div>
      </aside>