{% load static %}
{% load humanize %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/post.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="icon" href="{% static 'img/nav.logo.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'img/nav.logo.png' %}" />
        <title>에브리타임</title>
    </head>
    <body>
        {% include "./header.html" %}
        {% include "./navigation.html" %}
        <main>
            {% include "./section.html" %}
            {% include "./aside.html" %}
        </main>
        {% include "./footer.html" %}
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/sidebar.js' %}"></script>
    </body>
</html>
