{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>에브리타임</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <link rel="icon" href="{% static 'img/browser_logo.png' %}" />
        <link rel="apple-touch-icon" href="{% static 'img/browser_logo.png' %}" />
    </head>
    <body>
        {% include "./header.html" %}
        {% include "./nav.html" %}
        <div class="wrap">
            <section class="secBox">
                <section class="sec1">
                    <div class="categoryName">비밀게시판</div>
                    <div class="recom">
                        <div class="recom-q">
                            <img class="questImg" src="{% static 'img/icn_mcr_board_question_light.png' %}" />
                            <span>덕성</span>
                            <span>13기</span>
                            <span>파이팅~</span>
                        </div>
                        <div class="recom-h">
                            <img class="hotImg" src="{% static 'img/icn_mcr_board_hotarticle_light.png' %}" />
                            <span>덕멋최고</span>
                            <span>어흥</span>
                        </div>
                    </div>
                    <div class="addBtn" onclick='showForm(event)'>
                        <div>새 글을 작성해주세요!</div>
                        <img class="pen" src="{% static 'img/pen.png' %}" />
                    </div>
                    {% include "./post.html" %}
                    <div class="postBox">
                        {% for post in posts %}
                        {% if post.anonymity %}
                        {% else %}
                            <a href="{% url 'posts:detail' post.id %}">
                                <div class="post">
                                    <div class="postText">
                                        <div class="post-title">{{ post.title }}</div>
                                        <div class="post-content">{{ post.content }}</div>
                                        <div class="post-detail">
                                            <img class="like" src="{% static 'img/like.png' %}" />
                                            <div id="like-count">{{ post.like.count }}</div>
                                            <img class="reply" src="{% static 'img/reply.png' %}" />
                                            <div id="reply-count">{{ post.comments.count }}</div>
                                            | {{ post.created_at | naturaltime }} | {{ post.author_display_name }}
                                        </div>
                                    </div>
                                    {% if post.image %}
                                        <img class="previewImg"  src="/media/{{ post.image }}" alt="프리뷰" />
                                    {% endif %}
                                </div>
                            </a>
                        {% endif %}
                        {% empty %} <h2>글이 없습니다.</h2>
                        {% endfor %}
                    </div>
                </section>
                {% include "./section2.html" %}
            </section>
            {% include "./aside.html" %}
        </div>
        {% include "./footer.html" %}
        <script>
            const addForm = document.querySelector(".addForm");
            function showForm(e) {
                event.preventDefault();
                e.target.style.display = "none"
                addForm.style.display = "flex"
            }
        </script>
    </body>
</html>
