{% extends './base.html' %}{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'css/detail.css' %}">{% endblock %}
{% block body %}
    {% load humanize %}
<div class="container">
          <section>
            <div>
              <a href=""><h2 class="secret">비밀게시판</h2></a>
              <div id="detailtext">
                <ul>
                  {% if post.image %}
                  <img width="320" height="240" src="{{ post.image.url }}"></img>
                  {% endif %}
                  {% if post.video %}
                  <video width="320" height="240" controls>
                  <source src="{{ post.video.url }}" type="video/mp4" />
                  </video>
                  {% endif %}

                  
                  <li class="profile_container">
                    <div class="profile_ickname">
                      <img
                        src="{% static 'img/img/anonymous.profile.png' %}"
                        alt="익명 프로필"
                        class="anonymous_profile"
                      />
                      <div class="name">
                        {% if post.is_anonymous %}
                        <span class="nickname">익명</span>
                        {% else %}
                        <span class="nickname">{{ post.author.nickname }}</span>
                        {% endif %}
                        <span class="timesago">{{ post.created_at }}</span>
                      </div>
                    </div>
                    {% if request.user == post.author %}
                    <p class="contentbox_rightinforms">
                      <a href="{% url 'posts:delete' post.id %}" class="deletingbtn">삭제 </a> 
                      <a href="{% url 'posts:update' post.id %}" > 수정</a>
                    </p>
                    {% endif %}
                  </li>
                  <li class="detail_title">{{ post.title }}</li>
                  <li class="detail_text">{{ post.content }}</li>
                  <li class="article_reaction">
                    <img
                      src="{% static 'img/img/container.articles.vote.png' %}"
                      alt="따봉 아이콘"
                      class="positive"
                      id="positive"
                    />
                    <p class="likes" id="likes">{{ post.like.count }}</p>
                    <img
                      src="{%  static 'img/img/container.articles.comment.png' %}"
                      alt="댓글 아이콘"
                      class="comment"
                      id="comment"
                    />
                    <p class="mentions" id="comments">1</p>
                    <img
                      src="{% static 'img/img/container.articles.scrap.png' %}"
                      alt="즐겨찾기 아이콘"
                      class="favorites"
                    />
                    <p class="preference" id="preference">{{ post.scrap.count }}</p>
                  </li>
                  
                  <li class="article_reaction">
                    {% if request.user in post.like.all %}
                    <a href="{% url 'posts:remove-like' post.id %}">
                    <p id="likesbox">
                      <img
                        src="{% static 'img/img/container.articles.buttons.posvote.png' %}"
                        alt="따봉 버튼"
                        class="positive_gray"
                      />공감 취소
                    </p></a>
                    {% else %}
                    <a href="{% url 'posts:add-like' post.id %}">
                    <p id="likesbox">
                      <img
                        src="{% static 'img/img/container.articles.buttons.posvote.png' %}"
                        alt="따봉 버튼"
                        class="positive_gray"
                      />공감
                    </p></a>
                    {% endif %}

                    {% if request.user in post.scrap.all %}
                    <a href="{% url 'posts:remove-scrap' post.id %}">
                    <p id="scrapbox">
                      스크랩 취소 <!--에타 보면서 스크랩 한 번 누르면 별표 사라지는 거 따라 작성했습니다-->
                    </p>
                    </a>
                    {% else %}
                    <a href="{% url 'posts:add-scrap' post.id %}">
                    <p id="scrapbox">
                      <img
                        src="{% static 'img/img/container.articles.buttons.scrap.png' %}"
                        alt="스크랩 버튼"
                        class="favorites_gray"
                      />스크랩
                    </p>
                    </a>
                    {% endif %}
                  </li>
                </ul>
              </div>

              <div class="commenting" id="newco">
                <div>
                  <ul>
                  {% for comment in post.comments.all %}
                    <li class="ick_container">
                      <img
                        src="{% static 'img/img/anonymous.profile.png' %}"
                        alt="익명 프로필"
                        class="cocoickprofile"
                      />
                      {% if comment.anonymity %}
                      <span class="ickname">익명</span>
                      {% else %}
                      <span class="ickname">{{ comment.author.nickname }}</span>
                      {% endif %}
                      <p class="commenting_rightinforms">
                        <span>대댓글</span>
                        <span>공감</span>
                        <span>쪽지</span>
                        {% if request.user == comment.author %}
                        <span><a href="{% url 'posts:delete-comment' post.id comment.id %}">삭제</a></span>
                        {% endif %}
                      </p>
                    <p class="newcommentcontent" id="newSelfComment">{{ comment.content }}</p>
                    <p class="newcommentdates">{{ comment.created_at }}</p>
                    </li>
                    {% empty %}
                    <li>댓글이 없습니다</li>
                  {% endfor %}

                  <div class="recomment" id="cocoments">
                  <div class="ickbtn">
                    <form name="cocomments" method="post">
                      {% csrf_token %} 
                      <input
                        type="text"
                        class="typeacocomment"
                        placeholder="대댓글을 입력하세요."
                        id="cocommentInput"
                      />
                      <div class="icksubmitco">
                        <div class="ickcheckbox">
                          <input type="checkbox" id="anonymousCheck" />
                          <span class="ick">익명 </span>
                        </div>
                        <img
                          src="{% static 'img/img/container.articles.write.submit.png' %}"
                          alt="작성 완료 버튼"
                          class="submit"
                          id="submitCocomment"
                        />
                      </div>
                    </form>
                  </div>
                </div>
                  <div class="cocommentedcoment" id="newcoco">
                    <li class="co_ick_container">
                      <div>
                      <img
                        src="{% static 'img/img/anonymous.profile.png' %}"
                        alt="익명 프로필"
                        class="cocoickprofile"
                      />
                      <span class="ickname">익명</span>
                      <p class="commenting_rightinforms">
                        <span>공감</span>
                        <span>쪽지</span>
                        <span>삭제</span>
                      </p></div>
                    </li>
                    <p class="commentcontent"><span id="newcocomment"></span>
                    <p class="commentdates">방금</p></p>
                  </div>
                  
                </ul>
                </div>
              </div>
            </div>

            <div class="ickbtn">
              <form name="comments"  method="POST" action="{% url 'posts:create-comment' post.id %}">
                {% csrf_token %} 
                <input
                  type="text"
                  class="typeacomment"
                  placeholder="댓글을 입력하세요."
                  id="commentInput"  
                  name="content" 
                />
                <div class="icksubmit">
                  <div class="ickcheckbox">
                    <input type="checkbox" id="anonymousCheck" name="anonymity" value="anonymity_true" />
                    <span class="ick">익명 </span>
                  </div>
                  <button type="submit" class="btns" value="작성">
                    <img
                    src="{% static 'img/img/container.articles.write.submit.png' %}"
                    alt="작성 완료 버튼"
                    class="submit"
                    id="submitComment"
                  /></button>
                  <label for="submitbutton">
                </label>
                </div>
              </form>
            </div>

            <div class="comment-list" id="commentList"></div>
            <a href={% url 'posts:main' %}>
              <div class="writingsall">
                <img
                  src="{% static 'img/img/container.articles.pagination.list.png' %}"
                  alt="글 목록"
                />
                글 목록
              </div></a
            >
          </section>
        </div>
        <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}
