{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/main.css' %}"/>{% endblock %}
{% block body %}
    <div class="ham">
      <img
        class="hambar"
        src="{% static 'img/aside.title.hamburger.png' %}"
        alt="햄버거바"
      />
      <p class="hamtxt">비밀게시판</p>
    </div>
    <header class="header">
      <a href="{% url 'posts:main' %}">
      <img class="img" src="{% static 'img/nav.logo.png' %}" alt="에타 로고" /> </a>
      <div class="everytime">
        <div id="tople">
          <b><p id="et">에브리타임</p></b>
          <p id="by">덕성여대</p>
        </div>
      </div>
      <b></b>
      <div class="wd">
        <div class="board">
          <div class="red">게시판</div>
          <p>시간표</p>
          <p>강의실</p>
          <p>학점게시판</p>
          <p>친구</p>
          <p>책방</p>
          <p>캠퍼스픽</p>
        </div>
      </div>
      <p id="mess1">
        <img
          class="img1"
          src="{% static 'img/icn_m_chat_gray800_light.png' %}"
          alt="메시지 이미지"
        />
      </p>
      <p id="mess">
        <img
          class="img1"
          src="{% static 'img/icn_m_account_gray800_light.png' %}"
          alt="프로필 이미지"
        />
      </p>

      {% if request.user.is_authenticated %}
      <div id="modal">
        <p id="del">x</p>
        <p id="inid">nickname : {{ user }}</p>
        <a class="log" href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a class="log" href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
      </div>
    </header>
{% endblock %}