<body>
    {% load humanize %}
    
    {% for category in categories %}
        <a href={% url 'posts:category' category.slug %}>{{ category.name }}</a>
    {% endfor %}
    <br><br>
    {% if request.user.is_authenticated %}
        <p>nickname : {{ user }}</p>
        <a href="{% url 'accounts:mypage' %}">마이페이지</a>
        <a href="{% url 'accounts:logout' %}">로그아웃</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">로그인</a>
        <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}
    <hr><br><br>

    {% for category_data in category_posts %}
        <h2><a href="{% url 'posts:category' category_data.category.slug %}">{{ category_data.category.name }}</a></h2>

        {% if category_data.posts %}
            {% for post in category_data.posts %}
                <p><a href="{% url 'posts:detail' post.id %}">{{ post.title }}</a></p>
            {% endfor %}
        {% else %}
            <p>등록된 글이 없습니다</p>
        {% endif %}
    {% endfor %}
</body>