        <nav>
            <div class="nav1">
                <a href="#">자유게시판</a><a href="#">비밀게시판</a
                ><a href="#">질문게시판</a><a href="#">새내기게시판</a
                ><a href="#">정보게시판</a><a href="#">홍보게시판</a>
            </div>
            <div class="nav2">
                <a href="#">어른 사자 목소연</a><a href="#">어른 사자 김서윤</a
                ><a href="#">어른 사자 김은서</a><a href="#">어른 사자 강승현</a
                ><a href="#">어른 사자 송은지</a
                ><a href="#">어른 사자 장다연</a><a href="#">어른 사자 최윤영</a>
            </div>
            <div class="nav3">
                <a href="#">어른 사자 고희주</a><a href="#">어른 사자 김진효</a
                ><a href="#">어른 사자 정서영</a><a href="#">어른 사자 조희원</a
                ><a href="#">어른 사자 이가은</a
                ><a href="#">어른 사자 노진경</a>
            </div>
            <div class="nav4">
                <a href="#">아기 사자 고권혜</a><a href="#">아기 사자 김예나</a
                ><a href="#">아기 사자 김지우</a><a href="#">아기 사자 백민영</a
                ><a href="#">아기 사자 양서윤</a
                ><a href="#">아기 사자 이민아</a>
            </div>
            <div class="nav5">
                <a href="#">아기 사자 이소라</a
                ><a href="#">아기 사자 최솔</a><a href="#">아기 사자 한연주</a
                ><a href="#">아기 사자 한연주</a
                ><a href="#">아기 사자 허윤아</a>
            </div>
            <div class="nav6">
                <a href="#">컴퓨터공학전공</a><a href="#">IT미디어전공</a
                ><a href="#">소프트웨어전공</a><a href="#">디지털소프트웨어공학부</a
                ><a href="#">시각디자인전공</a><a href="#">중어중문학전공</a>
            </div>
        </nav>