{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/main.css' %}"/>{% endblock %}
{% block body %}
    <div>
      <nav class="nav">
        <div class="nav1">
          <div class="divider"></div>

          <div class="left">
            <p class="navtx">자유게시판</p>
            <p class="navtx">비밀게시판</p>
            <p class="navtx">질문게시판</p>
            <p class="navtx">졸업생게시판</p>
            <p class="navtx">새내기게시판</p>
            <p class="navtx">시사.이슈</p>
            <p class="navtx">정보게시판</p>
            <p class="navtx">이벤트게시판</p>
          </div>

          <div class="right">
            <p class="navtx1">홍보게시판</p>
            <p class="navtx1">동아리.학회</p>
          </div>

          <div class="divider"></div>

          <div class="middle1">
            <p class="navtx2">취업.진로</p>
            <p class="navtx2">교직이수</p>
            <p class="navtx2">덕성 예비공무원들</p>
            <p class="navtx2">대학원 뿌슝뿌슝</p>
            <p class="navtx2">미래의 회계사</p>
            <p class="navtx2">덕성 로스쿨러들</p>
          </div>

          <div class="divider"></div>

          <div class="middle2">
            <p class="navtx3">총 학생회</p>
            <p class="navtx3">신문사</p>
            <p class="navtx3">영자신문사</p>
            <p class="navtx3">운현방송국</p>
            <p class="navtx3">대학일자리본부</p>
            <p class="navtx3">교지편집위원회</p>
            <p class="navtx3">과학기술대학 학생회</p>
            <div class="navtx3 red">더 보기</div>
          </div>

          <div class="divider"></div>

          <div class="middle3">
            <p class="navtx4">덕성여대 경역학과</p>
            <p class="navtx4">디지털소프트웨어공학부</p>
            <p class="navtx4">국제통상학과</p>
            <p class="navtx4">두드리는 회계학과</p>
            <p class="navtx4">열공하는 약대생</p>
            <p class="navtx4">심리학과 자게</p>
            <p class="navtx4">덕성 법학도</p>
            <p class="navtx4 red">더 보기</p>
          </div>

          <div class="divider"></div>

          <div class="middle4">
            <p class="navtx5">덕성여대 장터</p>
            <p class="navtx5">뻔선뻔후 찾기</p>
            <p class="navtx5">덕성여대 기숙사</p>
            <p class="navtx5">덕성 연애방</p>
            <p class="navtx5">덕성여대 자취생</p>
            <p class="navtx5">주의 없는 게시판</p>
            <p class="navtx5">덕성여대~수유역</p>
            <p class="navtx5">맛집추천</p>
          </div>

          <div class="divider"></div>

          <div class="middle5">
            <p class="navtx6">덕성 야구게시판</p>
            <p class="navtx6">덕성 놀러가자</p>
            <p class="navtx6">미팅 모집방</p>
            <p class="navtx6">덕성 파견학생</p>
            <p class="navtx6">덕성 아이돌</p>
            <p class="navtx6">다이어덕</p>
            <p class="navtx6">덕성의 국근자</p>
            <p class="navtx6 red">더 보기</p>
          </div>

          <div class="divider"></div>
        </div>
      </nav>
{% endblock %}