{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/main.css' %}"/>
{% endblock %}{% block body %}
<navigation>
    <div class="text">
      <div class="inline2">
        <div class="flex">
          <span class="nav_text_padding">자유게시판</span>
          <span class="red">비밀게시판</span>
          <span class="nav_text_padding">질문게시판</span>
          <span class="nav_text_padding">졸업생게시판</span>
          <span class="nav_text_padding">새내기게시판</span>
          <span class="nav_text_padding">시사이슈</span>
          <span class="nav_text_padding">정보게시판</span>
          <span class="nav_text_padding">이벤트게시판</span>
        </div>
        <div class="flex">
          <span class="nav_text_padding">홍보게시판</span>
          <span class="nav_text_padding">동아리&학회</span>
        </div>
        <div class="flex">
          <div class="line">
            <div class="nav_text_padding">취업진로</div>
            <div class="nav_text_padding">교직이수</div>
            <div class="nav_text_padding">덕성 예비공무원들</div>
            <div class="nav_text_padding">대학원 뿌숭뿌슝</div>
            <div class="nav_text_padding">미래의 회계사(CPA)</div>
            <div class="nav_text_padding">덕성 로스쿨러들</div>
            <div class="nav_text_padding_hidden">덕성 로스쿨러들</div>
            <div class="nav_text_padding_hidden">덕성 로스쿨러들</div>
          </div>
        </div>
        <div class="flex">
          <div class="line">
            <div class="nav_text_padding">총학생회</div>
            <div class="nav_text_padding">신문사</div>
            <div class="nav_text_padding">영자신문사</div>
            <div class="nav_text_padding">운현방송국</div>
            <div class="nav_text_padding">대학일자리본부</div>
            <div class="nav_text_padding">교지편집위원회</div>
            <div class="nav_text_padding">과학기술대학 학생회</div>
            <div class="red">더보기</div>
          </div>
        </div>
        <div class="flex">
          <div class="line">
            <div class="nav_text_padding">덕성여대 경영학과</div>
            <div class="nav_text_padding">디지털소프트웨어공학부</div>
            <div class="nav_text_padding">국제통상학과</div>
            <div class="nav_text_padding">두드리는 회계학...</div>
            <div class="nav_text_padding">열공하는 약대생...</div>
            <div class="nav_text_padding">심리학과 자게게</div>
            <div class="nav_text_padding">덕성 법학도</div>
            <div class="red">더보기</div>
          </div>
        </div>
        <div class="inline3">
          <div class="nav_text_padding">덕성여대 장터</div>
          <div class="nav_text_padding">덕성여대 기숙사</div>
          <div class="nav_text_padding">뻔선뻔후 찾기 프...</div>
          <div class="nav_text_padding">덕성 연애방</div>
          <div class="nav_text_padding">덕성여대 자취생 모임</div>
          <div class="nav_text_padding">주의 없는 게시판</div>
          <div class="nav_text_padding">퀴어이기 전에 여성</div>
          <div class="nav_text_padding">덕성여대~수유역 맛...</div>
        </div>
        <div class="flex">
          <div class="rightline">
            <div class="nav_text_padding">덕성 야구게시판</div>
            <div class="nav_text_padding">덕성의 국가근로동자</div>
            <div class="nav_text_padding">덕성 파견학생</div>
            <div class="nav_text_padding">덕친소:내 덕친은 누...</div>
            <div class="nav_text_padding">미팅 모집방</div>
            <div class="nav_text_padding">덕성의 아이돌</div>
            <div class="nav_text_padding">다이어덕</div>
            <div class="red">더보기</div>
          </div>
        </div>
      </div>
    </div>
  </navigation>
{% endblock %}