{% load static %} {% load humanize %}
<nav class = "nav">
    <div class="category1">
        <div class = "Nconbox">
        <p class = "Ncon">일반 게시판</p>
        <p class = "Ncon">자유게시판</p>
        <p class = "Ncon">비밀게시판</p>
        <p class = "Ncon">질문게시판</p>
        <p class = "Ncon">졸업생게시판</p>
        <p class = "Ncon">새내기게시판</p>
        </div>
    </div>
    <div class="category2">
        <div class = "Nconbox">
            <p class = "Ncon">취업·진로</p>
            <p class = "Ncon">⭐👩‍🏫교직이수👩‍🏫⭐</p>
            <p class = "Ncon">덕성 예비공무원들♡<p>
            <p class = "Ncon">대학원 뿌슝뿌슝🔥...</p>
            <p class = "Ncon">미래의 회계사(CPA)</p>
            <p class = "Ncon">덕성 로스쿨러들📚</p>
        </div>
    </div>
    <div class="category">
        <div class = "Nconbox">
            <p class = "Ncon">총학생회</p>
            <p class = "Ncon">신문사</p>
            <p class = "Ncon">영자신문사</p>
            <p class = "Ncon">운현방송국</p>
            <p class = "Ncon">대학일자리본부</p>
            <p class = "Ncon">교지편집위원회회</p>
        </div>
    </div>
    <div class="category">
        <div class = "Nconbox">
            <p class = "Ncon">📑경영학과</p>
            <p class = "Ncon">👩‍💻디지털소프트웨...</p>
            <p class = "Ncon">💰두드리는 회계학...</p>
            <p class = "Ncon">✍️열공하는 약대생...</p>
            <p class = "Ncon"> 🧠심리학과 자게🧠</p>
            <p class = "Ncon"> 🌚덕성 법학도🌚</p>
        </div>
    </div>
    <div class="category">
        <div class = "Nconbox1">
            <p class = "Ncon">🌺덕성여대 장터🌺</p>
            <p class = "Ncon">♡덕성 연애방♡</p>
            <p class = "Ncon">덕성여대 기숙사</p>
            <p class = "Ncon">덕성여대 자취생 모임</p>
            <p class = "Ncon">덕성의 아이돌❤️</p>
            <p class = "Ncon">💘덕성 파견학생💘</p>
        </div>
    </div>
</nav>

