{% extends './base.html' %}{% load static %} 
{% block style %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" /> 
<link rel="stylesheet" href="{% static 'css/post_update.css' %}" />{% endblock %}

{% block body %}
<section>
    <div class="main-title">
        <h1>
            <a href="#">비밀게시판</a>
        </h1> 
    </div>

    <form type="submit" method="post" action="{% url 'posts:update' post.id %}" enctype="multipart/form-data" class="post_input">
        {% csrf_token %}

        <p><input type="text" placeholder="글 제목" class="title"  name="title" value="{{ post.title }}"/></p>
        <p>
            <textarea name="content">{{ post.content }}</textarea>
        </p>

        <div id="question_info">
            <p>
            질문 글을 작성하면 게시판 상단에 일정 기간 동안 노출되면, 더욱
            빠르게 답변을 얻을 수 있게 됩니다<br />또한, 다른 학우들이 정성껏
            작성한 답변을 유지하기 위해, 댓글이 달린 이후에는 글을 수정 및
            삭제할 수 없습니다.
            </p>
        </div>

        <ul class="post_option">
            <li class="post_left">
                <a href=""
                    ><img
                    src="{% static 'img\container.articles.write.hashtag.png' %}"
                    alt="해시태그"
                    class="hashtag"
                /></a>
                <a href=""
                    ><img
                    src="{% static 'img\container.articles.write.attach.png' %}"
                    alt="파일첨부"
                    class="file"
                /></a>
            </li>

            <li class="post_right">
                <input type="checkbox" id="question" />
                <label for="question" id="question_text">질문</label>

                <input type="checkbox" id="anonymous" name="is_anonymous"/>
                <label for="anonymous">익명</label>

                <button type="submit">
                    <img
                    src="{% static 'img/container.articles.write.submit.png' %}"
                    id="pencil_input"
                    alt="입력"
                    />
                </button>
            </li>
        </ul>
    </form>
</section>
{% endblock %}
