{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>에브리타임 비밀게시판 메인페이지</title>
  </head>
  <body>
    {% include "./header.html" %}
    <hr />
    {% include "./navigation.html" %}
    <div class="main_container">
      <div class="post_asi">
        {% include "./postupdate.html" %} {% include "./aside.html" %}
      </div>
    </div>
  </body>
</html>
